{% if pager.haveToPaginate %}
    {{ paginationView.render(
        pager,
        routeGenerator,
        {
            'prev_message': 'Previous'|trans({}, 'da_paginator'),
            'next_message': 'Next'|trans({}, 'da_paginator')
        }
    )|raw }}
{% endif %}

{% block table %}
    <table class="paginated-content">
        {% include 'thead.html.twig' with {'fields': fields} %}
        {% include 'tbody.html.twig' with {'content': content, 'fields': fields, 'macro': macro} %}
    </table>
{% endblock %}

{% if pager.haveToPaginate %}
    {{ paginationView.render(
        pager,
        routeGenerator,
        {
            'prev_message': 'Previous'|trans({}, 'da_paginator'),
            'next_message': 'Next'|trans({}, 'da_paginator')
        }
    )|raw }}
{% endif %}