{% if content.haveToPaginate %}
    {{ paginationView.render(content, routeGenerator)|raw }}
{% endif %}

{% block table %}
    <table class="paginated-content">
        {% include 'thead.html.twig' with {'fields': fields} %}
        {% include 'tbody.html.twig' with {'content': content, 'fields': fields} %}
    </table>
{% block table %}

{% if content.haveToPaginate %}
    {{ paginationView.render(content, routeGenerator)|raw }}
{% endif %}