<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"></meta>
	
		<title>Paginator Test</title>
	</head>

	<body>
		<h1>Big Cities</h1>

		{{ da.paginator.renderContentView('big_cities', 'names', 'bootstrap')|raw }}
	</body>
</html>
